body {
    background-color: #eee;
}

.container {
    margin: 0% 25% 0% 25%;
}

.field {
    float: left;
    background-color: #fff;
    width: 10em;
    height: 10em;
    position: relative;
    left: 25%;

    -webkit-transition: background-color 800ms;
    -moz-transition: background-color 800ms;
    -ms-transition: background-color 800ms;
    -o-transition: background-color 800ms;
    transition: background-color 800ms;

    -webkit-transition: border-radius 800ms;
    -moz-transition: border-radius 800ms;
    -ms-transition: border-radius 800ms;
    -o-transition: border-radius 800ms;
    transition: border-radius 800ms;
/*
    -webkit-box-shadow: 0px 0px 5px #ccc;
    -moz-box-shadow: 0px 0px 5px #ccc;
    box-shadow: 0px 0px 5px #ccc;
    */
}

.field:hover {
    background-color: #ccc;
    border-radius: 100%;
}

.solid_circle {
    background: url('../pics/circle.png') no-repeat center;
    background-size: contain;
}

.solid_cross {
    background: url('../pics/cross.png') no-repeat center;
    background-size: contain;
}