body {
    background: #24292f;
    color: #f3f3f3;
    font-family: android;
}

@font-face {
    font-family: android;
    src: url("http://damianogiusti.altervista.org/droidlogger/Roboto-Regular.ttf"); /* url("HelveticaNeue.otf"); */
}

.actionbar {
    background: #fffe00;
}

.corpo {
    margin: 0px;
    background: #ffeecc;
    height: 100%;
}