<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="myapp">
<div class="container" ng-controller="mycontroller">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 calculator" id="calculator">
            <div class="row">
                <div class="col-sm-9 display" id="display" ng-model="display">{{numero}}</div>
                <div class="col-sm-3 operator">C</div>
            </div>
            <div class="row">
                <div class="col-sm-3 number" ng-model="numero" ng-click="" ng-value="7">7</div>
                <div class="col-sm-3 number" ng-model="numero" ng-click="numberclicked()">8</div>
                <div class="col-sm-3 number" ng-model="numero" ng-click="numberclicked()">9</div>
                <div class="col-sm-3 operator" ng-model="operator">+</div>
            </div>
            <div class="row">
                <div class="col-sm-3 number" ng-model="numero" ng-click="numberclicked()">4</div>
                <div class="col-sm-3 number" ng-model="numero" ng-click="numberclicked()">5</div>
                <div class="col-sm-3 number" ng-model="numero" ng-click="numberclicked()">6</div>
                <div class="col-sm-3 operator" ng-model="operator">-</div>
            </div>
            <div class="row">
                <div class="col-sm-3 number" ng-model="numero" ng-click="numberclicked()">1</div>
                <div class="col-sm-3 number" ng-model="numero" ng-click="numberclicked()">2</div>
                <div class="col-sm-3 number" ng-model="numero" ng-click="numberclicked()">3</div>
                <div class="col-sm-3 operator" ng-model="operator">*</div>
            </div>
            <div class="row">
                <div class="col-sm-3 number" ng-model="operator">.</div>
                <div class="col-sm-3 number" ng-model="numero" ng-click="numberclicked()">0</div>
                <div class="col-sm-3 operator" ng-model="operator">=</div>
                <div class="col-sm-3 operator" ng-model="operator">/</div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>

<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="scripts/calculator.js"></script>


</body>
</html>