<header class="row">
    <img src="http://icons.iconarchive.com/icons/uiconstock/socialmedia/512/Amazon-icon.png"
         alt="logo"
         class="col-md-1"
         width="50px">
    <h1 class="col-md-11">T'Ammazzon</h1>
</header>

<section class="row">
    <h4 class="col-md-12">{{message}}</h4>
</section>

<!--
<button
        type="button"
        class="btn btn-default"
        ng-click="goToContact()">Vai ai contatti
</button>
-->

<div class="row">
    <article class="col-md-6" ng-repeat="n in list">
        <div class="articolo">
            <div class="row">
                <h2 class="col-md-12">{{n.name}}</h2>
            </div>
            <div class="row">
                <p class="col-md-12">{{n.description}}</p>
            </div>
            <div class="row">
                <p class="col-md-6">{{n.price}}&euro;</p>
                <p class="col-md-6">{{n.category}}</p>
            </div>

            <div class="row">
                <a class="col-md-6" ui-sref="details({id:n.id})">dettaglio</a>
                <a class="col-md-6" ui-sref="edit({id:n.id})">
                    modifica
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
            </div>
        </div>
    </article>
</div>