input, textarea {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

li {
    list-style-type: none;
    border-left: double;
    padding-left: 1em;
    margin: 0.5em;
}

input[type="submit"] {
    background: none;
    border: 1px solid #333;
    border-radius: 1em;
}