html, body {
    background-color: #FAFAFA;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.container-fluid {
    background-color: #FAFAFA;
}

.container-fluid header {
    background-color: #00BCD4;
    padding: 4em 0em 4em 5em;
    box-shadow: 1px 1px 2px #1b6d85;
}

.container-fluid header h1 {
    font-size: 5em;
    text-shadow: 0px 1px 2px #1b6d85;
}

.main {
    /*background-color: #ECEFF1;*/
    /*box-shadow: 1px 1px 4px #eee;*/
    height: 100%;
    overflow-wrap: break-word;
    /*overflow-y: scroll;*/
    margin: 0 15% 0 15%;
}

.myMenu {
    margin-top: 2em;
}

.myContent {

}

a,
a:hover,
a:visited,
a:active {
    text-decoration: none;
    color: inherit;
}

/*.articolo {*/
    /*background-color: #fff;*/
    /*box-shadow: 1px 1px 3px #222;*/
    /*border-radius: 3px;*/
    /*padding: 1em;*/
    /*margin-bottom: 1em;*/
    /*margin-top: 1em;*/
    /*max-width: 500px;*/
/*}*/

/*.articolo h2 {*/
    /*margin-top: 0;*/
    /*color: #37474F;*/
/*}*/

/*img {*/
    /*max-height: 500px;*/
    /*max-width: 500px;*/
/*}*/

/*.dg-form-control {*/
    /*margin-top: 10px;*/
/*}*/

.commento {
    border-bottom: 1px solid #ccc;
    margin-top: 1em;
}

article {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1em;
}

.tag {
    margin-right: 1em;
}